# Índice - Introducción a Python
* Tipos de datos y variables
* Funciones
* Ciclos e iteraciones

# Tipos de datos y variables

Los computadores aceptan diferentes tipos de datos y Python no es más que un lenguaje para manipularlos. Así como nos podemos comunicar con grafos (un escrito), con sonidos (una conversación) o con imágenes (un gesto), de esa misma manera los computadores entienden diferentes tipos de datos. Aunque existen muchos, los más básicos son:

* int - Números enteros. Ejemplo: -1, 2, 1000, 0
* float - Número reales (es decir, incluyen fracciones). Ejemplo: 0.001, -3/4, 0.0
* string - Caracteres como texto, se utilizan comillas. Ejemplo: "Hola", "   ", "13" (nótese que si un número está en comillas es string y no int/float)
* boolean - El resultado de una evaluación lógica; es decir, verdadero o falso. Ejemplo: 3 > 4 -> False, 0 == 0 -> True, 0 == 1 -> False

Juguemos abajo con ellos

In [5]:
# Con los int y los float podemos hacer operaciones aritméticas
# Por ejemplo: 

1+1

2

In [6]:
# Si opero un int con un float, el resultado siempre es float

1 + 1.1

2.1

In [8]:
# Puedo multiplicar o elevar. Veamos una multiplicación

2*2

4

In [9]:
# Y para elevar utilizo doble asterisco. Si quiero 2 al cubo (2^3) lo hago así:

2**3

8

## Ejercicio 1
Calcule en Python la siguiente operación: $(2^{17})(3+(100\sqrt{67}))$. Respuesta: 107680271.85148658

In [ ]:
# Acá va su código

In [11]:
# Ahora veamos los string. Lo primero que debemos saber es que no puedo operar int/float con string. 
# Miremos qué pasa:

1 + "1"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
# Nos sale error y efectivamente nos dice que el *tipo* de dato no es consistente. 
# ¿Qué pasa si ambos son string?

"1" + "1"

'11'

In [13]:
# Nos queda un '11' como string. Esa operación se llama concatenar (básicamente juntar dos strings). 
# También puedo acceder a un caracter específico del string utilizando corchetes cuadrados ([]). 
# Por ejemplo:

"12345"[0]

'1'

In [14]:
# El número que va dentro del corchete se llama *índice* y en Python empieza en 0. Es decir, el primer caracter del string
# está en el índice 0, el segundo en el 1 y así...

"12345"[1]

'2'

In [18]:
# También puedo acceder a un pedazo del string o un *slice*. 
# Para eso solo uso la notación: [índice donde empiezo: índice donde termino]

"12345"[2:5]

'345'

## Ejercicio 2
Devuelva solo el fragmento "Mundo" en el string "Hola Mundo"

In [ ]:
# Acá va su código

"Hola Mundo"

In [19]:
# Algo chévere de Python es que podemos guardar los valores con un nombre para no tener que escribirlos completos siempre.
# Por ejemplo:

mensaje = "Bienvenidos al primer bootcamp"

In [20]:
# Así, en lugar de tener que escribir todo el mensaje siempre, ahora solo debo llamar la etiqueta que le puse:

mensaje

'Bienvenidos al primer bootcamp'

In [24]:
# Esto se llama *variable* y son muy cool. Las variables tienen las mismas propiedades de los valores que contienen.
# Por ejemplo, puedo usar el slice de antes:

mensaje[0:11]

'Bienvenidos'

In [25]:
# También las puedo reasignar con otro valor (incluso si es otro tipo de dato). 
# Por ejemplo:

mensaje = 123 # Ahora es un número
mensaje

123

In [26]:
# Lo anterior hace de Python un lenguaje muy versátil y fácil de utilizar. Pero ojo, puede traernos problemas por desorden
# Por ejemplo, ya no podemos utilizar el slice que nos funcionó dos celdas antes

mensaje[0:11] # ¡Ahora es un número!

TypeError: 'int' object is not subscriptable

## Ejercicio 3
Escriba esta fórmula en Python y luego, cambiando el valor de la variable "x", retorne el resultado cuando x = 0, x = 12, x = -1.

$x^{2} - x + 10^{x}$

Para x = 0, debe quedar así: $0^{2} - 0 + 10^{0} = 0 - 0 + 1 = 1$

In [14]:
x=0
print(x**2 - x + 10**x)

x=12
print(x**2 - x + 10**x)

x=-1
print(x**2 - x + 10**x)

1
1000000000132
2.1

In [ ]:
# Acá va su código.
x = # Acá cambia por 0, 12 y -1
# Acá escribe la fórmula usando la variable "x"

In [27]:
# Por último veamos los booleanos. Puedo escribir True (verdadero) o False (falso) y ya los tengo

True # se pone verde porque Python lo reconoce

True

In [28]:
# Igual a False

False

False

In [19]:
# También los puedo conseguir cuando resuelvo una pregunta lógica.
# Por ejemplo: ¿Es 3 mayor que 4?
# Esa pregunta se escribe en Python así:

3 >= 4 # La respuesta es que no; es decir, False

True

In [23]:
# ¿Es 1 igual a 1?
# O en Python:

1 == 1 # La respuesta es que sí

True

In [25]:
# También puedo comparar strings.
# Por ejemplo: ¿Es "hola" diferente de "mamá"?

"hola" != "mamá" # La respuesta es que sí es diferente  

# El signo de exclamación al lado del igual es la forma de decir 'diferente de'

True

In [32]:
# Veamos un último ejemplo donde se junte todo.
# Para Python, debe ser igual el contenido y el formato
# Por ejemplo:

1 == '1' # Esto es falso, porque comparo int con string

False

In [33]:
# Pero esto es verdadero

"1" == "1"

True

## Ejercicio 4
Escriba tres condiciones que den verdaderas y tres condiciones que den falsas. Debe incluir comparaciones int/float con int/float, string con string, e int/float con string.

In [49]:
# Acá va su código 

# Verdadero
print(4-3 == 10-9)  # True

print(2*2 == 8/2) # True

print(3 > 3**(1/2)) # True

print(2**(1/2) <= 50) # True

print("PERRO"!="perro") # True

# Falsas

print(2+2 == "4") # False 

#print(3.14 == 3,14)

print("tres" == 3) # False

True
True
True
True
True
False
False

# Funciones

In [85]:
# Una función, al igual que una variable, se usa para poder utilizar código sin tener que escribirlo completo cada vez.
# Por ejemplo, queremos multiplicar dos números. En lugar de escribir cada vez 2*2 o 240*10
# podemos usar: 

def multiplicar(num1, num2):# estos dos puntos (al igual que la identación) son las reglas de escritura de Python
    
    respuesta = num1*num2
    
    return respuesta # el 'return' lo utilizo para devolver el resultado (vean qué pasa si no lo escribo)

# Y así, puedo

multiplicar(1,2)

2

In [86]:
# O hacer 

multiplicar(0.0005,-1235235)

-617.6175000000001

In [97]:
# Puedo hacer funciones para todo.
# Digamos que quiero una función que multiplique dos número y luego devuelva un mensaje bonito con la respuesta

def multiplicar_respuesta(num1, num2):
    resultado = num1*num2 # La variable 'resultado' solo existe dentro de la función, no afuera
    
    respuesta = "Eres un ser muy hermoso y tu respuesta es: " + str(resultado) # debo pasar de número a string para concatenar
    
    return respuesta

In [98]:
multiplicar_respuesta(-4,-0.003)

'Eres un ser muy hermoso y tu respuesta es: 0.012'

In [100]:
# Las funciones también pueden llamar a otras funciones. Por ejemplo, cambiemos la función de arriba
# para no tener que hacer la multiplicación a mano

def multiplicar_respuesta(num1, num2):
    def multiplicar_jm(num1, num2):
    
        respuesta = num1*num2

        return respuesta

    resultado = multiplicar(num1,num2) # llamo la primera función que hice
    
    respuesta = "Eres un ser muy hermoso y tu respuesta es: " + str(resultado) 
    
    return respuesta

## Ejercicio 5
Escriba la fórmula del Ejercicio 3 como una función, evalúe para los mismos valores de x de ese ejercicio y compare los resultados

In [107]:
# Acá va su código 
x=0
print(x**2 - x + 10**x)

x=12
print(x**2 - x + 10**x)

x=-1
print(x**2 - x + 10**x)

1
1000000000132
2.1

In [109]:
def f(x):
    respuesta = x**2 - x + 10**x
    
    return respuesta

In [115]:
# Acá va su código 

print(f(0),f(12),f(-1))


print(f(x=12))


print(f(x=-1))

1 1000000000132 2.1
1000000000132
2.1

# Ciclos e iteraciones

In [116]:
# Empecemos viendo un tipo de dato nuevo: las listas. Son un *conjunto* ordenado de valores. 
# Se escriben utilizando corchetes cuadrados y separando por comas. 
# Por ejemplo, una lista de mercado:

mercado = ["2 de huevos", "1 de leche", "3 de pan", "2 de arroz"]
mercado

['2 de huevos', '1 de leche', '3 de pan', '2 de arroz']

In [129]:
# Para acceder a un elemento de la lista, puedo utilizar la misma notación de [índice]
# Por ejemplo:

mercado[0]

'2 de huevos'

In [120]:
# Y también puedo usar slices (cool, ¡los strings son muy parecidos a las listas!)
mercado[:2]

['2 de huevos', '1 de leche']

In [7]:
# Supongamos que solo quiero quedarme con los números, no me interesa saber de qué.
# para eso, puedo acceder a cada elemento y quedarme solo con el primer caracter:

mercado[0][0] # esto es equivalente a "2 de huevos"[0]. Recuerden que mensaje[0] = "2 de huevos"

'2'

In [8]:
# Y el que le sigue para la leche

mercado[1][0] # Recuerden que mensaje[1] = "1 de leche"

'1'

In [134]:
# Esto que estoy haciendo se llama *iterar* y Python no quiere que lo hagamos a mano,
# si tuviéramos una lista gigante sería un lío terrible...
# Introduciendo... Los ciclos. Veamos la notación

for elemento_de_lista in mercado:
    print(elemento_de_lista) # print es solo una forma de tomarle una foto a la variable

2 de huevos
1 de leche
3 de pan
2 de arroz

In [135]:
# Si me quiero quedar solo con los números, modifico lo que hago dentro del ciclo
# así:

for elemento in mercado: # lo que va después del for es una variable temporal que existe solo dentro del ciclo
    solo_numero = elemento[0] # Vamos a iterar y nos quedamos solo con el primer caracter cada vez
    print(solo_numero) # y le tomo la foto para ver qué hace

2
1
3
2

## Ejercicio 6
Utilizando la función del Ejercicio 5, evalúe los cien primeros número naturales de la lista num_nat.

In [138]:
num_nat = list(range(0,101))
print(num_nat)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [160]:
# Acá va su código
def funcion(x):
    respuesta = asfasfaf
    return respuesta

for cada_elemento in num_nat:
        
    respuesta = funcion(cada_elemento)
    
    print(cada_elemento, respuesta)

0 1
1 10
2 102
3 1006
4 10012
5 100020
6 1000030
7 10000042
8 100000056
9 1000000072
10 10000000090
11 100000000110
12 1000000000132
13 10000000000156
14 100000000000182
15 1000000000000210
16 10000000000000240
17 100000000000000272
18 1000000000000000306
19 10000000000000000342
20 100000000000000000380
21 1000000000000000000420
22 10000000000000000000462
23 100000000000000000000506
24 1000000000000000000000552
25 10000000000000000000000600
26 100000000000000000000000650
27 1000000000000000000000000702
28 10000000000000000000000000756
29 100000000000000000000000000812
30 1000000000000000000000000000870
31 10000000000000000000000000000930
32 100000000000000000000000000000992
33 1000000000000000000000000000001056
34 10000000000000000000000000000001122
35 100000000000000000000000000000001190
36 1000000000000000000000000000000001260
37 10000000000000000000000000000000001332
38 100000000000000000000000000000000001406
39 1000000000000000000000000000000000001482
40 10000000000000000000000000000000000001560
41 100000000000000000000000000000000000001640
42 1000000000000000000000000000000000000001722
43 10000000000000000000000000000000000000001806
44 100000000000000000000000000000000000000001892
45 1000000000000000000000000000000000000000001980
46 10000000000000000000000000000000000000000002070
47 100000000000000000000000000000000000000000002162
48 1000000000000000000000000000000000000000000002256
49 10000000000000000000000000000000000000000000002352
50 100000000000000000000000000000000000000000000002450
51 1000000000000000000000000000000000000000000000002550
52 10000000000000000000000000000000000000000000000002652
53 100000000000000000000000000000000000000000000000002756
54 1000000000000000000000000000000000000000000000000002862
55 10000000000000000000000000000000000000000000000000002970
56 100000000000000000000000000000000000000000000000000003080
57 1000000000000000000000000000000000000000000000000000003192
58 10000000000000000000000000000000000000000000000000000003306
59 100000000000000000000000000000000000000000000000000000003422
60 1000000000000000000000000000000000000000000000000000000003540
61 10000000000000000000000000000000000000000000000000000000003660
62 100000000000000000000000000000000000000000000000000000000003782
63 1000000000000000000000000000000000000000000000000000000000003906
64 10000000000000000000000000000000000000000000000000000000000004032
65 100000000000000000000000000000000000000000000000000000000000004160
66 1000000000000000000000000000000000000000000000000000000000000004290
67 10000000000000000000000000000000000000000000000000000000000000004422
68 100000000000000000000000000000000000000000000000000000000000000004556
69 1000000000000000000000000000000000000000000000000000000000000000004692
70 10000000000000000000000000000000000000000000000000000000000000000004830
71 100000000000000000000000000000000000000000000000000000000000000000004970
72 1000000000000000000000000000000000000000000000000000000000000000000005112
73 10000000000000000000000000000000000000000000000000000000000000000000005256
74 100000000000000000000000000000000000000000000000000000000000000000000005402
75 1000000000000000000000000000000000000000000000000000000000000000000000005550
76 10000000000000000000000000000000000000000000000000000000000000000000000005700
77 100000000000000000000000000000000000000000000000000000000000000000000000005852
78 1000000000000000000000000000000000000000000000000000000000000000000000000006006
79 10000000000000000000000000000000000000000000000000000000000000000000000000006162
80 100000000000000000000000000000000000000000000000000000000000000000000000000006320
81 1000000000000000000000000000000000000000000000000000000000000000000000000000006480
82 10000000000000000000000000000000000000000000000000000000000000000000000000000006642
83 100000000000000000000000000000000000000000000000000000000000000000000000000000006806
84 1000000000000000000000000000000000000000000000000000000000000000000000000000000006972
85 10000000000000000000000000000000000000000000000000000000000000000000000000000000007140
86 100000000000000000000000000000000000000000000000000000000000000000000000000000000007310
87 1000000000000000000000000000000000000000000000000000000000000000000000000000000000007482
88 10000000000000000000000000000000000000000000000000000000000000000000000000000000000007656
89 100000000000000000000000000000000000000000000000000000000000000000000000000000000000007832
90 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000008010
91 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000008190
92 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000008372
93 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000008556
94 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000008742
95 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000008930
96 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000009120
97 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000009312
98 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000009506
99 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000009702
100 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000009900

In [157]:
f(0)

1