In [1]:
# Pueden ignorar esto, pero deben correrlo una vez 
import random

# Data Frames y ETLs

Pandas es una librería -código de otros- ampliamente usada por científicos de datos en el mundo porque permite manejar con mucha facilidad datos tabulares en Python. Si tiene forma de tabla, seguramente lo pueden trabajar usando Pandas. Al igual que con los tipos de datos que ya vimos, Pandas tiene su propio tipo de objeto. Este es conocido como *DataFrame*


Un DataFrame es el equivalente a una hoja de cálculo en Excel o en Sheets, pero tiene cosas mucho más chéveres que ya veremos. Por lo pronto, carguemos un conjunto de datos con Pandas y veamos qué sucede

In [2]:
# Primero debemos cargar la librería
import pandas as pd # "pd" es un alias, para no tener que escribir "pandas" cada vez

Luego la forma de usar las funciones de pandas es simplemente: pd.funcion_que_quiero()

## Cargar

In [3]:
# Ahora carguemos los datos.
# Se pueden cargar muchos formatos (xlsx, csv, txt, etc.) acá usaremos csv, pero basta con buscar en internet el tipo
# de formato que necesitan para encontrar cómo subirlo a un DataFrame de Pandas

pd.read_csv(r'data/vuelosNacionales/vuelosNacionales.csv')

# la función read_csv recibe la dirección del archivo csv que quieren leer

,NOMBRE AEROPUERTO,CIUDAD,DEPARTAMENTO,Pasajeros Salidos - 2019,Pasajeros Llegados - 2019,Carga y Correo Salida (Kg) - 2019,Carga y Correo Llegados (kg) - 2019,Número Vuelos Salidos - 2019,Número Vuelos Llegados - 2019,Pasajeros Salidos - 2018,...,Carga y Correo Salida (Kg) - 2005,Carga y Correo Llegados (kg) - 2005,Número Vuelos Salidos - 2005,Número Vuelos Llegados - 2005,Pasajeros Salidos - 2004,Pasajeros Llegados - 2004,Carga y Correo Salida (Kg) - 2004,Carga y Correo Llegados (kg) - 2004,Número Vuelos Salidos - 2004,Número Vuelos Llegados - 2004
0,EL ENCANTO,EL ENCANTO,AMAZONAS,62,55,805,2.281,31.000,31.000,87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LA CHORRERA - VIRGILIO BARCO VARGAS,LA CHORRERA,AMAZONAS,788,859,85.783,105.966,136.000,135.000,1.167,...,27.801,60.326,190.000,192.000,433,540,2.117,4.081,53.0,54.0
2,LA PEDRERA,LA PEDRERA,AMAZONAS,2.517,2.570,339.960,336.699,382.000,383.000,2.731,...,111.693,97.117,156.000,173.000,385,487,141.136,94.403,101.0,99.0
3,LETICIA-ALFREDO VASQUEZ COBO,LETICIA,AMAZONAS,166.039,167.011,9.465.876,7.424.085,1.788,1.791,134.304,...,8.494.881,6.507.999,1.127,1.071,26.861,28.076,7.715.581,6.094.633,755.0,749.0
4,TARAPACA,LETICIA,AMAZONAS,758,701,26.654,29.652,122.000,123.000,1.164,...,6.587,9.118,47.000,55.000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,SANTA BARBARA,CUMARAL,META,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,16,0,0,0,12.0,0.0
793,YATAROS DE MELUA,PUERTO LOPEZ,META,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,0,0,0,1.0,0.0
794,LA CABA?A - META,SAN CARLOS DE GUAROA,META,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,2,0,0,1.0,1.0
795,AEROSPORT.C.A.,FLANDES,TOLIMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,2,0,0,1.0,1.0
796,INGENIO MAYAGUEZ (C.A),CANDELARIA,VALLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,8,0,0,1.0,2.0

In [4]:
# Como siempre, podemos asignarlo a una variable

df = pd.read_csv(r'data/vuelosNacionales/vuelosNacionales.csv')

In [5]:
# Esto es lo mismo que hicimos en el módulo para quitar los puntos
# Lo pueden ignorar, la explicación está en el Módulo 1.
for i in df.columns[3:]:      
    if df[i].dtype != "float64":
        df[i].fillna('0', inplace=True) # Esto es para rellenar los nulos
        df[i] = df[i].str.replace('.','').astype(float) # Esto para quitar los puntos
    else:
        df[i].fillna(0, inplace=True)

In [6]:
# Pueden ignorar esto, pero deben correrlo una vez 
key = ["NOMBRE AEROPUERTO", "CIUDAD", "DEPARTAMENTO"]
df = df.groupby(by=key).sum().sort_values(by="DEPARTAMENTO").reset_index()

In [7]:
# Y para ver qué tiene por dentro podemos usar el comando .head()

df.head() # muestra por default los primeros cinco registros

,NOMBRE AEROPUERTO,CIUDAD,DEPARTAMENTO,Pasajeros Salidos - 2019,Pasajeros Llegados - 2019,Carga y Correo Salida (Kg) - 2019,Carga y Correo Llegados (kg) - 2019,Número Vuelos Salidos - 2019,Número Vuelos Llegados - 2019,Pasajeros Salidos - 2018,...,Carga y Correo Salida (Kg) - 2005,Carga y Correo Llegados (kg) - 2005,Número Vuelos Salidos - 2005,Número Vuelos Llegados - 2005,Pasajeros Salidos - 2004,Pasajeros Llegados - 2004,Carga y Correo Salida (Kg) - 2004,Carga y Correo Llegados (kg) - 2004,Número Vuelos Salidos - 2004,Número Vuelos Llegados - 2004
0,LA CHORRERA - VIRGILIO BARCO VARGAS,LA CHORRERA,AMAZONAS,788.0,859.0,85783.0,105966.0,136.000,135.000,1167.0,...,27801.0,60326.0,190.000,192.000,433.0,540.0,2117.0,4081.0,53.0,54.0
1,EL ENCANTO,EL ENCANTO,AMAZONAS,62.0,55.0,805.0,2281.0,31.000,31.000,87.0,...,0.0,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0
2,LA PEDRERA,LA PEDRERA,AMAZONAS,2517.0,2570.0,339960.0,336699.0,382.000,383.000,2731.0,...,111693.0,97117.0,156.000,173.000,385.0,487.0,141136.0,94403.0,101.0,99.0
3,TARAPACA,LETICIA,AMAZONAS,758.0,701.0,26654.0,29652.0,122.000,123.000,1164.0,...,6587.0,9118.0,47.000,55.000,0.0,0.0,0.0,0.0,0.0,0.0
4,LETICIA-ALFREDO VASQUEZ COBO,LETICIA,AMAZONAS,166039.0,167011.0,9465876.0,7424085.0,1.788,1.791,134304.0,...,8494881.0,6507999.0,1.127,1.071,26861.0,28076.0,7715581.0,6094633.0,755.0,749.0

In [8]:
# También existe .tail(), para los últimos 5

df.tail(3) # o lo puedo personalizar metiendo un número en el paréntesis. En este caso, los últimos tres

,NOMBRE AEROPUERTO,CIUDAD,DEPARTAMENTO,Pasajeros Salidos - 2019,Pasajeros Llegados - 2019,Carga y Correo Salida (Kg) - 2019,Carga y Correo Llegados (kg) - 2019,Número Vuelos Salidos - 2019,Número Vuelos Llegados - 2019,Pasajeros Salidos - 2018,...,Carga y Correo Salida (Kg) - 2005,Carga y Correo Llegados (kg) - 2005,Número Vuelos Salidos - 2005,Número Vuelos Llegados - 2005,Pasajeros Salidos - 2004,Pasajeros Llegados - 2004,Carga y Correo Salida (Kg) - 2004,Carga y Correo Llegados (kg) - 2004,Número Vuelos Salidos - 2004,Número Vuelos Llegados - 2004
778,LA BENDICION,LA PRIMAVERA,VICHADA,11.0,10.0,133.0,189.0,4.0,4.0,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
779,LA VICTORIA,PUERTO CARRENO,VICHADA,45.0,45.0,950.0,1224.0,25.0,25.0,36.0,...,49832.0,134445.0,758.0,770.0,1722.0,1551.0,30212.0,61970.0,649.0,648.0
780,EL GAVILAN,LA PRIMAVERA,VICHADA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Miren que el objeto df es de *tipo* DataFrame

type(df)

pandas.core.frame.DataFrame

Así como a los strings los podemos manipular usando cierta forma de escribir código (corchetes cuadrados, por ejemplo), los DataFrames tienen sus propios comandos para poder manipularlos. 

Las acciones que puedo hacer con cualquier base de datos se conocen como ETL - Extract (extraer información), Transform (transformar información) o Load (cargar información). La parte del Load ya lo hicimos con read_csv, ahora veamos qué funciones necesito para Extraer y para Transformar DataFrames.

## Extraer

In [10]:
# Empecemos por extraer. En programación siempre puedo usar muchas formas para lograr lo mismo, acá veremos un par.
# Para entrar a una columna uso: data_frame["nombre_de_columna"].
# Por ejemplo:

df["CIUDAD"] # Debo usar exactamente el mismo nombre como aparece en los datos (mayúsculas y todo)

0         LA CHORRERA
1          EL ENCANTO
2          LA PEDRERA
3             LETICIA
4             LETICIA
            ...
776      LA PRIMAVERA
777      LA PRIMAVERA
778      LA PRIMAVERA
779    PUERTO CARRENO
780      LA PRIMAVERA
Name: CIUDAD, Length: 781, dtype: object

In [11]:
# Cada columna de un DataFrame es de *tipo* Serie

ciudades = df["CIUDAD"]
type(ciudades)

pandas.core.series.Series

In [12]:
# Las series se parecen mucho a las listas. 
# Por ejemplo, puedo usar la notación de [índice]:

ciudades[0] # este es el primer valor de la columna CIUDAD

'LA CHORRERA'

In [13]:
# O usar slices

ciudades[5:10]

5    SAN JOSE DE MULATOS
6               CAUCASIA
7               MEDELLIN
8               FRONTINO
9                 MUTATA
Name: CIUDAD, dtype: object

In [14]:
# Si quiero acceder a varias columnas al mismo tiempo, debo usar [["columna_1", ..., "columna_n"]]
# Por ejemplo:

columnas = ["CIUDAD", "DEPARTAMENTO"] 
df[columnas]

             CIUDAD DEPARTAMENTO
0       LA CHORRERA     AMAZONAS
1        EL ENCANTO     AMAZONAS
2        LA PEDRERA     AMAZONAS
3           LETICIA     AMAZONAS
4           LETICIA     AMAZONAS
..              ...          ...
776    LA PRIMAVERA      VICHADA
777    LA PRIMAVERA      VICHADA
778    LA PRIMAVERA      VICHADA
779  PUERTO CARRENO      VICHADA
780    LA PRIMAVERA      VICHADA

[781 rows x 2 columns]

In [15]:
# Y el resultado ya deja de ser una Serie
type(df[columnas])

pandas.core.frame.DataFrame

In [16]:
# Entonces ya no puedo usar la notación de las listas, porque ya no estoy trabajando con una Serie

df[columnas][0]

# Nos tira error porque ahora es un DataFrame

KeyError: 0

In [ ]:
# Ya vimos cómo acceder a una columna completa, ahora veamos cómo hacer lo mismo para una fila completa.
# Para eso uso .iloc[posición de la fila que quiero].
# Por ejemplo, la primera fila

df.iloc[0] # Nos trae los valores de todas las columnas de la primera fila

In [ ]:
# Veamos la segunda

df.iloc[1]

In [17]:
# Pero, a diferencia de las listas, el  DataFrame además tiene un *índice*, que es un identificador 
# asignado una sola vez cuando se cargan los datos y *no depende de la posición*
# Por ejemplo:

df_1 = df.tail().copy()
df_1 # Este es un nuevo DataFrame que solo tiene los últimos cinco registros del df original

,NOMBRE AEROPUERTO,CIUDAD,DEPARTAMENTO,Pasajeros Salidos - 2019,Pasajeros Llegados - 2019,Carga y Correo Salida (Kg) - 2019,Carga y Correo Llegados (kg) - 2019,Número Vuelos Salidos - 2019,Número Vuelos Llegados - 2019,Pasajeros Salidos - 2018,...,Carga y Correo Salida (Kg) - 2005,Carga y Correo Llegados (kg) - 2005,Número Vuelos Salidos - 2005,Número Vuelos Llegados - 2005,Pasajeros Salidos - 2004,Pasajeros Llegados - 2004,Carga y Correo Salida (Kg) - 2004,Carga y Correo Llegados (kg) - 2004,Número Vuelos Salidos - 2004,Número Vuelos Llegados - 2004
776,LUNA PARK,LA PRIMAVERA,VICHADA,57.0,45.0,1328.0,1105.0,27.0,27.0,98.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
777,LOS VENADOS,LA PRIMAVERA,VICHADA,10.0,8.0,195.0,174.0,5.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
778,LA BENDICION,LA PRIMAVERA,VICHADA,11.0,10.0,133.0,189.0,4.0,4.0,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
779,LA VICTORIA,PUERTO CARRENO,VICHADA,45.0,45.0,950.0,1224.0,25.0,25.0,36.0,...,49832.0,134445.0,758.0,770.0,1722.0,1551.0,30212.0,61970.0,649.0,648.0
780,EL GAVILAN,LA PRIMAVERA,VICHADA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
# Si quisiera acceder a la *primera* fila de este DataFrame, puedo usar [0].
# Veamos:

df_1.iloc[0]

NOMBRE AEROPUERTO                         LUNA PARK
CIUDAD                                 LA PRIMAVERA
DEPARTAMENTO                                VICHADA
Pasajeros Salidos - 2019                         57
Pasajeros Llegados - 2019                        45
                                           ...
Pasajeros Llegados - 2004                         0
Carga y Correo Salida (Kg) - 2004                 0
Carga y Correo Llegados (kg) - 2004               0
Número Vuelos Salidos - 2004                      0
Número Vuelos Llegados - 2004                     0
Name: 776, Length: 99, dtype: object

In [19]:
# Pero el *índice* de la primera fila ya no es 0 sino 776.
# Miren el número antes de la primera columna:

df_1.head()

,NOMBRE AEROPUERTO,CIUDAD,DEPARTAMENTO,Pasajeros Salidos - 2019,Pasajeros Llegados - 2019,Carga y Correo Salida (Kg) - 2019,Carga y Correo Llegados (kg) - 2019,Número Vuelos Salidos - 2019,Número Vuelos Llegados - 2019,Pasajeros Salidos - 2018,...,Carga y Correo Salida (Kg) - 2005,Carga y Correo Llegados (kg) - 2005,Número Vuelos Salidos - 2005,Número Vuelos Llegados - 2005,Pasajeros Salidos - 2004,Pasajeros Llegados - 2004,Carga y Correo Salida (Kg) - 2004,Carga y Correo Llegados (kg) - 2004,Número Vuelos Salidos - 2004,Número Vuelos Llegados - 2004
776,LUNA PARK,LA PRIMAVERA,VICHADA,57.0,45.0,1328.0,1105.0,27.0,27.0,98.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
777,LOS VENADOS,LA PRIMAVERA,VICHADA,10.0,8.0,195.0,174.0,5.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
778,LA BENDICION,LA PRIMAVERA,VICHADA,11.0,10.0,133.0,189.0,4.0,4.0,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
779,LA VICTORIA,PUERTO CARRENO,VICHADA,45.0,45.0,950.0,1224.0,25.0,25.0,36.0,...,49832.0,134445.0,758.0,770.0,1722.0,1551.0,30212.0,61970.0,649.0,648.0
780,EL GAVILAN,LA PRIMAVERA,VICHADA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
# Antes de seguir, recordemos cómo se ve nuestro DataFrame original

df.head()

,NOMBRE AEROPUERTO,CIUDAD,DEPARTAMENTO,Pasajeros Salidos - 2019,Pasajeros Llegados - 2019,Carga y Correo Salida (Kg) - 2019,Carga y Correo Llegados (kg) - 2019,Número Vuelos Salidos - 2019,Número Vuelos Llegados - 2019,Pasajeros Salidos - 2018,...,Carga y Correo Salida (Kg) - 2005,Carga y Correo Llegados (kg) - 2005,Número Vuelos Salidos - 2005,Número Vuelos Llegados - 2005,Pasajeros Salidos - 2004,Pasajeros Llegados - 2004,Carga y Correo Salida (Kg) - 2004,Carga y Correo Llegados (kg) - 2004,Número Vuelos Salidos - 2004,Número Vuelos Llegados - 2004
0,LA CHORRERA - VIRGILIO BARCO VARGAS,LA CHORRERA,AMAZONAS,788.0,859.0,85783.0,105966.0,136.000,135.000,1167.0,...,27801.0,60326.0,190.000,192.000,433.0,540.0,2117.0,4081.0,53.0,54.0
1,EL ENCANTO,EL ENCANTO,AMAZONAS,62.0,55.0,805.0,2281.0,31.000,31.000,87.0,...,0.0,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0
2,LA PEDRERA,LA PEDRERA,AMAZONAS,2517.0,2570.0,339960.0,336699.0,382.000,383.000,2731.0,...,111693.0,97117.0,156.000,173.000,385.0,487.0,141136.0,94403.0,101.0,99.0
3,TARAPACA,LETICIA,AMAZONAS,758.0,701.0,26654.0,29652.0,122.000,123.000,1164.0,...,6587.0,9118.0,47.000,55.000,0.0,0.0,0.0,0.0,0.0,0.0
4,LETICIA-ALFREDO VASQUEZ COBO,LETICIA,AMAZONAS,166039.0,167011.0,9465876.0,7424085.0,1.788,1.791,134304.0,...,8494881.0,6507999.0,1.127,1.071,26861.0,28076.0,7715581.0,6094633.0,755.0,749.0

In [21]:
# Ya que sabemos acceder a toda una columna y a toda una fila, veamos cómo acceder a una intersección de las dos,
# es decir, al valor específico de una celda. Existen dos formas: 1) Primero accedo a la columna y luego escojo la fila
# o 2) Primero escojo la fila y luego la columna.
# Ejemplo del 1):

df["CIUDAD"] # Acá accedo a toda la columna
df["CIUDAD"][3] # Acá accedo a la *cuarta* fila de la columna CIUDAD

'LETICIA'

In [22]:
# Ejemplo del 2):

df.iloc[3] # Acá accedo a toda la cuarta fila
df.iloc[3]["CIUDAD"] # Acá accedo a la *columna* CIUDAD de la cuarta fila

'LETICIA'

## Ejercicio 1
Guarde la columna de pasajeros salidos en el 2018 en una variable que se llame salida_2018. En otra variable llamada la_perd guarde toda la información disponible del aeropuerto LA PEDRERA.

In [25]:
# Acá va su código

salida_2018 = df["Pasajeros Salidos - 2018"] # Acá el nombre de la columna que nos interesa

la_perd = df.iloc[2] # Acá la posición del aeropuerto que nos interesa

## Ejercicio 2
Utilizando la información del Ejercicio 1, responda las siguientes preguntas:

* ¿Cuál fue la mayor cantidad de pasajeros que salieron de un aeropuerto colombiano en 2018?, ¿cuál fue la menor? Y, ¿cuál fue el promedio? - Use salida_2018 para responder

* ¿Cómo cambió la salida de pasajeros en el aeropuerto de La pedrera entre el 2019 y el 2018? ¿Aumentó, se redujo o se mantuvo igual? - Use la_perd para responder

Pistas: para sacar máximos y mínimos pueden usar max(lista) o min(lista). Un promedio se puede calcular como suma/tamaño, pero existen funciones en Python (busquen en internet)

Respuestas:

* Max: 16402228, Min: 0, Avg: 43745.95
* Se redujo en 214 pasajeros

In [26]:
# Acá va su código

print(max(salida_2018))

print(min(salida_2018))

print(salida_2018.mean())

16402228.0
0.0
44642.15749039693

## Transformar

Algo que nos gustaría hacer es transformar nuestras tablas y no solo acceder a lo que hay dentro. Hay muchos tipos de transformaciones: podría, por ejemplo, querer cambiar una celda específica, o crear una nueva columna, o ajustar todos los valores de filas que cumplan con alguna condición. Aquí veremos cómo hacer esas transformaciones.

In [27]:
# Empecemos viendo el comando .shape

print(df.shape)

# Nos da las dimensiones de la tabla. El primer valor es el número de filas y el segundo el de columnas

(781, 99)

In [28]:
# Si hago

filas = df.shape[0]

print(filas)

# Me traigo solo el número de filas

781

In [29]:
# Ahora utilicemos eso para crear una nueva columna repleta de ceros.

# Lo primero que hago es crear una lista de ceros que tenga *la misma cantidad de filas que la tabla*

lista_ceros = [0]*filas

print(lista_ceros)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [30]:
# Y por último, se la asigno a la nueva columna que llamaré "nueva_columna":
df["nueva_columna"] = lista_ceros

In [31]:
# ¡Y funcionó! Ya tenemos una nueva columna repleta de ceros
df[["nueva_columna"]]

     nueva_columna
0                0
1                0
2                0
3                0
4                0
..             ...
776              0
777              0
778              0
779              0
780              0

[781 rows x 1 columns]

Pero una columna con ceros no es para nada interesante... Hagamos algo más con ella. Por ejemplo, cambiemos esta columna a un indicador de la llegada de pasajeros en el 2019. Lo que queremos es tener 0 para los aeropuertos que estén por debajo del promedio del 2019 y 1 para los que estén igual o por encima.

Para eso necesitamos primero saber el promedio del 2019:

In [32]:
# Acá tenemos el promedio. Si lo hicieron arriba de otra forma, utilicen este método para comparar su respuesta

promedio_2019 = df["Pasajeros Llegados - 2019"].mean()
print(promedio_2019)

48455.83866837388

In [33]:
# Ya que tenemos el promedio, usemos este número para marcar los aeropuertos que estén por encima. Para eso, recordemos, 
# vamos a poner un 1 en la columna que acabamos de crear.

# Introduciendo... loc. Este comando se usa para acceder a grupos de celdas y, cuando se necesite, transformarlas.
# Se escribe así:


# df.loc[una condición o un índice, columnas que me quiero traer] = valor a asignar.


# Veamos la primera parte del comando:

df.loc[0, "Pasajeros Llegados - 2019"] # Me trae el primer registro de la columna "Pasajeros Llegados - 2019"

859.0

In [34]:
# También puedo usar condiciones:

df.loc[df["DEPARTAMENTO"]=="AMAZONAS"] # Si no especifico, me trae todas las columnas

,NOMBRE AEROPUERTO,CIUDAD,DEPARTAMENTO,Pasajeros Salidos - 2019,Pasajeros Llegados - 2019,Carga y Correo Salida (Kg) - 2019,Carga y Correo Llegados (kg) - 2019,Número Vuelos Salidos - 2019,Número Vuelos Llegados - 2019,Pasajeros Salidos - 2018,...,Carga y Correo Llegados (kg) - 2005,Número Vuelos Salidos - 2005,Número Vuelos Llegados - 2005,Pasajeros Salidos - 2004,Pasajeros Llegados - 2004,Carga y Correo Salida (Kg) - 2004,Carga y Correo Llegados (kg) - 2004,Número Vuelos Salidos - 2004,Número Vuelos Llegados - 2004,nueva_columna
0,LA CHORRERA - VIRGILIO BARCO VARGAS,LA CHORRERA,AMAZONAS,788.0,859.0,85783.0,105966.0,136.000,135.000,1167.0,...,60326.0,190.000,192.000,433.0,540.0,2117.0,4081.0,53.0,54.0,0
1,EL ENCANTO,EL ENCANTO,AMAZONAS,62.0,55.0,805.0,2281.0,31.000,31.000,87.0,...,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0
2,LA PEDRERA,LA PEDRERA,AMAZONAS,2517.0,2570.0,339960.0,336699.0,382.000,383.000,2731.0,...,97117.0,156.000,173.000,385.0,487.0,141136.0,94403.0,101.0,99.0,0
3,TARAPACA,LETICIA,AMAZONAS,758.0,701.0,26654.0,29652.0,122.000,123.000,1164.0,...,9118.0,47.000,55.000,0.0,0.0,0.0,0.0,0.0,0.0,0
4,LETICIA-ALFREDO VASQUEZ COBO,LETICIA,AMAZONAS,166039.0,167011.0,9465876.0,7424085.0,1.788,1.791,134304.0,...,6507999.0,1.127,1.071,26861.0,28076.0,7715581.0,6094633.0,755.0,749.0,0

In [35]:
# Entonces, si quiero traerme la columna con los nombres de todos los aeropuertos en Amazonas, hago:

df.loc[df["DEPARTAMENTO"]=="AMAZONAS", "NOMBRE AEROPUERTO"]

0    LA CHORRERA - VIRGILIO BARCO VARGAS
1                             EL ENCANTO
2                             LA PEDRERA
3                               TARAPACA
4           LETICIA-ALFREDO VASQUEZ COBO
Name: NOMBRE AEROPUERTO, dtype: object

In [36]:
# O si quiero el nombre y la ciudad

columnas=["NOMBRE AEROPUERTO", "CIUDAD"]

df.loc[df["DEPARTAMENTO"]=="AMAZONAS", columnas]

                     NOMBRE AEROPUERTO       CIUDAD
0  LA CHORRERA - VIRGILIO BARCO VARGAS  LA CHORRERA
1                           EL ENCANTO   EL ENCANTO
2                           LA PEDRERA   LA PEDRERA
3                             TARAPACA      LETICIA
4         LETICIA-ALFREDO VASQUEZ COBO      LETICIA

In [37]:
# Retomando el ejemplo, traigamos todos los aeropuertos por encima del promedio

## Ejercicio 3

Traiga todas las columnas de los aeropuertos cuyos pasajeros llegados en 2019 están por encima del promedio. Use el promedio que ya calculamos...

La respuesta estará dos celdas más adelantes, así que intente la suya antes de seguir.

In [ ]:
# Acá su código

In [ ]:
# Para eso usamos loc y el promedio que ya calculamos:
 
df.loc[df["Pasajeros Llegados - 2019"] >= promedio_2019].head() 

# La respuesta es un DataFrame, pero me traigo solo los primero 5 registros

In [ ]:
# Ahora solo traigamos la columna que queremos cambiar ("nueva_columna"):

df.loc[df["Pasajeros Llegados - 2019"] >= promedio_2019, "nueva_columna"]

In [ ]:
# Por último, cambiemos el valor de esa columna por un 1, pues son los que cumplen la condición

df.loc[df["Pasajeros Llegados - 2019"] >= promedio_2019, "nueva_columna"] = 1

In [ ]:
# Y veamos cómo queda:
print("El promedio 2019: " + str(promedio_2019))
columnas=["Pasajeros Llegados - 2019", "nueva_columna"]
df[columnas]

¡Funciona! Cuando el valor de pasajeros es menor al promedio tenemos un 0 y cuando es mayor o igual tenemos un 1. Y ya sabemos transformar nuestro DataFrame

# Funciones de agregación

Sigamos con el ejemplo de antes. Ya que tenemos nuestro indicador, ahora un buen dato sería saber *cuántos* aeropuertos están por encima del promedio y cuántos por debajo. Una manera sería contar con la mano, pero vamos a aprovechar este problema para introducir las funciones de agregación. 

Las funciones de agregación, como su nombre lo indica, se usan para agrupar (o agregar) datos y luego operar sobre ellos. Las operaciones pueden ser de todo tipo, como ya veremos. Por lo pronto, entendamos esta tabla dummy:

    CIUDAD  | DEPARTAMENTO | CASOS COVID

    Tumaco  |    Nariño    |    30
    Pasto   |    Nariño    |    20
    Cali    |    Valle     |    100
    Palmira |    Valle     |    50


Si yo quiero saber los casos totales por departamento, debo *agregar* esa variable y luego sumar. Es decir:

agregar(DEPARTAMENTO)  |   sumar(CASOS COVID)

        Nariño         |        50
        Valle          |        150
        

Pero también podría, en lugar de saber el total de casos de COVID, contar el número de ciudades. Es decir: 

agregar(DEPARTAMENTO)  |   contar(CIUDAD)

        Nariño         |        2
        Valle          |        2


Fun fact: lo que acabamos de hacer se llama pivot table. La gente lo usa en Excel a cada rato, pero ya veremos por qué en Python tiene más poder.

Y de eso se tratan las funciones que veremos a continuación: cómo usar Pandas para agrupar datos.

In [ ]:
# Dicho todo lo anterior, agreguemos la nueva_columna y contemos cuántos tienen 1 y cuántos 0
# Para eso usamos groupby, así:

df.groupby(by="nueva_columna").count()

# La sintaxis se explica sola:

# data_frame.groupby(by="nombre de las columna que quiero agrupar").operación()
# pude usar .sum() o alguna función hecha por mí

Lo que nos devuelve es el resultado de la operación para cada columna. Es decir, se fue a la columna NOMBRE AEROPUERTO, agregó utilizando nueva_columna y luego contó registros. Luego se fue a la columna CIUDAD e hizo lo mismo, y así. Por esta razón el resultado es el mismo, no deberían diferenciarse.

La cosa cambia si en vez de contar le diera, por ejemplo, sumar, porque en ese caso cada columna suma para un valor diferente. Solo para que ver qué pasa, hagamos eso:

In [ ]:
df.groupby(by="nueva_columna").sum()

Como la suma solo tiene sentido para columnas numéricas, ahora solo esas nos aparecen y el resultado cambia. De nuevo, Python se fue columna por columna y sumó los valores de cada columna agrupando por "nueva_columna". ¡Perfecto!

In [ ]:
# De regreso a nuestro conteo...
# Como solo necesitamos una columna para el conteo, entonces nos podemos quedar con cualquiera
# Yo voy a escoger la columna CIUDAD, pero puede ser cualquier otra.

df.groupby(by="nueva_columna").count()["CIUDAD"]

# ¡Y listo! Hay 31 aeropuertos igual o por encima del promedio del 2019 y 750 por debajo

In [ ]:
# Veamos otra forma de llegar al mismo resultado usando una función llamada pivot_table
# Se usa así:

pd.pivot_table(
               index= "nueva_columna", # Columna por la que quiero agrupar
               aggfunc={"CIUDAD":"count"}, # Qué operación quiero hacer en cada columna cuando agrupe
               data=df # Sobre qué Data Frame haré la operación 
               )

# ¡El resultado es exactamente el mismo! La ventaja de Pivot Table es que puedo hacer una operación diferente para cada 
# columna, mientras que con groupby la operación se hace para todas

La función pivot_table tiene muchos más parámetros que la hacen una función muy poderosa. Pueden visitar la [documentación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html) para ver cómo usarlos

## Ejercicio 4

Usando funciones de agregación (la que prefiera), responda las siguientes preguntas:

* ¿Cuántos aeropuertos hay por departamento? Y, ¿cuál es el departamento con más aeropuertos?
* ¿Cuántas ciudades solo tienen un aeropuerto?
* ¿Cómo fue el cambio en la salida de pasajeros entre 2019 y 2018 en cada ciudad?

Pistas: 1) Para organizar la tabla pueden usar la función sort_values(), busquen en internet cómo funciona.

Respuestas:

* Departamento con más aeropuertos: CASANARE
* Hay 183 ciudades con un solo aeropuerto

In [ ]:
# Acá va su código

# Merges

Lo último que veremos hoy, son los cruces o merges. Con esta posibilidad, Pandas queda listo para que hagamos maravillas.

Muchas veces tendremos información en diferentes tablas. Por ejemplo, sigamos con el ejemplo del COVID de las funciones de agregación y veamos cómo podríamos tener información regada que nos gustaría tener en el mismo lugar:

    CIUDAD  | DEPARTAMENTO | CASOS COVID

    Tumaco  |    Nariño    |    30
    Pasto   |    Nariño    |    20
    Cali    |    Valle     |    100
    Palmira |    Valle     |    50
    

Podríamos tener otra tabla con las vacunas:

    CIUDAD  | DEPARTAMENTO |  VACUNAS

    Tumaco  |    Nariño    |    13
    Pasto   |    Nariño    |    18
    Cali    |    Valle     |    70
    Palmira |    Valle     |    20
    

Pero tener esa información regada no es algo que nos resulte muy cómodo para poder trabajar. Lo ideal sería tener una tabla así:

    CIUDAD  | DEPARTAMENTO | CASOS COVID |  VACUNAS

    Tumaco  |    Nariño    |    30       |    13
    Pasto   |    Nariño    |    20       |    18
    Cali    |    Valle     |    100      |    70
    Palmira |    Valle     |    50       |    20
    
Para poder unificar esa información, existe la función merge. Con merge(), podemos utilizar los campos en común entre las tablas (en este ejemplo: CIUDAD y DEPARTAMENTO) para unificar la información en un solo lugar.

In [ ]:
# Dicho esto veamos cómo funciona. Empecemos por separar en dos la tabla que tenemos.
# Es decir, de forma artificial vamos a hacer de cuenta que tenemos dos tablas

columnas_1 = ["NOMBRE AEROPUERTO", "CIUDAD", "Pasajeros Salidos - 2019", "Pasajeros Llegados - 2019"]
df_1 = df[columnas_1]
df_1.head()

# Esta es nuestra tabla artificial 1

In [ ]:
# Miremos la tabla artificial 2

columnas_2 = ["NOMBRE AEROPUERTO", "CIUDAD", "Pasajeros Salidos - 2018", "Pasajeros Llegados - 2018"]
df_2 = df[columnas_2]
df_2.head()

In [ ]:
# Entonces tenemos df_1 y df_2. Veamos cómo juntarlos con merge:
# primero va la tabla a la que vamos a agregar los datos nuevos
df_1.merge(
           right=df_2, # Esta es la segunda tabla que queremos juntar
           left_on=["NOMBRE AEROPUERTO", "CIUDAD"], # Las columnas que usaremos en la primera tabla para juntar la info
           right_on=["NOMBRE AEROPUERTO", "CIUDAD"], # Las columnas que usaremos en la segunda tabla para juntar la info
           how="left" # Este es el tipo de cruce. 'left' significa que 2 se pone en 1; 'right' que 1 se pone en 2
                      # hay otros tipos de cruces de los que vamos a hablar en el BootCamp
          )

¡Y listo! Ahora tenemos toda la información en un mismo lugar

## Ejercicio 5

Explore las tablas df_3 y df_4 y cruce la información en una nueva tabla llamada df_5

In [ ]:
# Puede ignorar esto, pero deben correrlo una vez

columnas = ["NOMBRE AEROPUERTO", "CIUDAD", "Carga y Correo Salida (Kg) - 2018", "Carga y Correo Llegados (kg) - 2018"]
df_3 = df[columnas]
columnas = ["NOMBRE AEROPUERTO", "CIUDAD", "Carga y Correo Salida (Kg) - 2019", "Carga y Correo Llegados (kg) - 2019"]
random.shuffle(columnas)
df_4 = df[columnas].rename(columns={"NOMBRE AEROPUERTO":"aeropuerto",
                                    "CIUDAD":"CiTy"})

In [ ]:
df_3.head(2)

In [ ]:
df_4.head(2)

In [ ]:
# Acá va su código

df_5 = # Acá va el merge

## Ejercicio 6

Utilizando la información del ejercicio anterior, responda las siguientes preguntas:

* ¿Cuál fue el aeropuerto con mayor carga salida promedio en el 2019?
* ¿Cuál fue el aeropuerto con menor carga salida absoluta en el 2018?

Pistas: 

1) Para el promedio puede usar la función mean de la librería numpy. Para usarla, ejecute antes el comando: import numpy as np

2) Absolutos es igual a hacer una suma sencilla

Respuestas:

1) El Dorado

2) Pensilvania, sin tener en cuenta los ceros

In [ ]:
import numpy as np
# Acá va su código